// search results page
extends layout

block content
  div(class='outer')
    div(class='modal fade' id='confirmModal')
      div(class="modal-dialog")
        div(class='modal-content')
          div(class='modal-body')
            div(id='user')= performer
            div will perform
            div(id='artist')
            div(id='title')
            form(action='/confirm' method='post')
              input(type='hidden' name='song')
              input(type='hidden' name='artist')
              input(type='hidden' name='songId')
              button(class='btn btn-primary btn-lg' type='submit') Confirm
    // end modal, begin main page
    div(class='main')
      h4 Which song would you like to sing?
      ul(class='list-group')
        each song in results
          li(class='list-group-item' onclick='showModal(this)' data-songId=song.id)
            span(class='artist')= song.artist_name
            span  - 
            span(class='title')= song.title
            span(class='badge')= song.k
      form(action='/req' method='post' class='form-inline')
        button(type='submit' class='btn btn-success' id='req') Search again
        input(type='search' name='userinput' class='form-control search')
      a(href='http://the.echonest.com/')
        img(src='img/EN_P_on_Light_Transparent.png' class='echoNest')
  script(type='text/javascript' src='/js/front-utils.js')