// search results page
extends layout

block content
  div(class='container')
    div(class='modal fade' id='confirmModal')
      div(class='modal-dialog')
        div(class='modal-content modal-content-confirm')
          div(class='modal-body')
            div(id='user' class='bold')= performer
            div will perform
            div(id='title' class='bold')            
            div(id='artist')
            form(action='/confirm' method='post')
              input(type='hidden' name='song')
              input(type='hidden' name='artist')
              input(type='hidden' name='songId')
              button(class='btn btn-default' type='submit') Confirm
    // end modal, begin main page
    div(class='row')
      div(class='col-xs-12')
        div(class='h4 padded-div') Which song would you like to sing?
        ul(class='list-group')
          each song in results
            li(class='list-group-item' onclick='showModal(this)' data-songId=song.id)
              span(class='title bold')= song.title
              span  by           
              span(class='artist')= song.artist_name
              span(class='badge')= song.k
        include searchbar
        a(href='http://the.echonest.com/')
          img(src='img/EN_P_on_Light_Transparent.png' id='echoNestImg')
  // scripts
  script(type='text/javascript' src='/js/front-utils.js')
  // change text of search button for this page
  script $('#searchButton').text('Search again');